/*Main components of page*/

body {
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Tahoma, "Times New Roman", serif;
    font-size: 90%;
}

.page-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    position: relative;
    margin: auto;
    left: 10%;
    width: 70%;
    border-radius: 15px;
    background-color: #f9f9f9;
    padding: 20px;
    height: 90%;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 140%;
    font-family: Tohoma, serif;
}
/* Footer on index page*/

#index-footer {
    position: absolute;
    height: 100px;
    background-color: #4668A5;
    width: 100%;
    bottom: 0;
}

#footer-logo {
    position: fixed;
    height: 70px;
    left: 0;
    bottom: 0;
    margin-left: 15px;
    margin-bottom: 15px;
}

#info {
    position: fixed;
    height: 70px;
    left: 100px;
    bottom: 40px;
}

#info-list {
    list-style-type: none;
    font-size: large;
}

.info-list-items {
    padding: 3px;
}

.info-link {
    text-decoration: none;
    color: #f9f9f9;
}

.info-link:hover {
    color: #c7c7c7;
}

#copyright-footer {
    position: absolute;
    text-align: center;
    right: 0;
    bottom: 0;
    margin-right: 15px;
    margin-bottom: 25px;
}

#copyright-text {
    font-size: 150%;
}


/*CSS for the sidebar and its elements*/

.sidebar {
    height: 100%;
    width: 20%;
    background-color: #f9f9f9;
    position: fixed;
    left: 0;
    top: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.indexLogo {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

.sidebarHeader {
    font-size: 115%;
    font-weight: bolder;
    border-bottom: solid 2px;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Settings => dropdown menu */

#settings {
    display: inline-block;
}

#settings-button {
    position: absolute;
    background-color: transparent;
    border:none;
    margin-top: 7px;
    margin-left: 0;
    cursor: pointer;
}

#settings-button:hover {
    filter: brightness(80%);
}

#settings-button:focus {
    outline: none;
}

#settings-img {
    height: 30px;
}

#settings-content {
    display: none;
    position: absolute;
    margin-left: 0;
    margin-top: 47px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

#logout {
    border-top: solid 1px;
    border-color: #c7c7c7;
}

#settings-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#settings-content a:hover {
    background-color: #e0e0e0;
}

.user {
    background-color: #f9f9f9;
    width:100%;
    height: 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user:hover {
    background-color: #e0e0e0;
}

.highlight {
    background-color: #e0e0e0;
}

.highlight:hover {
    background-color: #e0e0e0 !important;
}

.user-icon {
    height: 45px;
    padding-top: 7px;
    padding-left: 5px;
    position: fixed;
}

.user-details {
    font-weight: bold;
    padding-top: 20px;
    padding-left: 60px;
}

.userList {
    overflow: auto;
    height: 90%;
}

/* CSS for the Chat */

#messageLogo {
    padding-bottom: 10px;
}

/*Chat options */
#chat-options-button {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-right: 5px;
    background: transparent;
    border: none;
    outline: none;
}

#chat-options-img {
    height: 50px;
    cursor: pointer;
}

#chat-options-img:hover {
    filter: brightness(80%);
}

#chat-options-content {
    display: none;
    position: absolute;
    right:0;
    top: 0;
    margin-top: 50px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

#chat-options-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#chat-options-content a:hover {
    background-color: #e0e0e0;
}

#messages {
    width: 100%;
    height: calc(100% - 110px);
    overflow-y: auto;
    overflow-x: hidden;
}

#message {
<<<<<<< HEAD
    width: calc(100% - 50px);
=======
    width: calc(100% - 60px);
    background-color: #f9f9f9;
>>>>>>> origin/master
    height: 80px;
    max-height: 80px;
    resize: none;
    font-size: 20px;
    float: left;
    font-family: Tahoma, "Times New Roman", serif;
}

#message:focus {
    outline: none;
}

#sendImg-Button {
    border: none;
    position: absolute;
    float: right;
    background-color: transparent;
    margin-top: 12px;
}

<<<<<<< HEAD
#sendButton:focus {
    outline: none;
}

#sendButton:hover {
    filter: brightness(80%);
}

#sendImg {
=======
#sendImg-Button:focus {
    outline: none;
}

#sendImg-Button:hover {
    filter: brightness(80%);
}

.messageIcon {
>>>>>>> origin/master
    cursor: pointer;
    border: none;
    width: 65px;
    background-color: transparent;
}

<<<<<<< HEAD


input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 140%;
    font-family: Tohoma, serif;
=======
#sendImg {
    display: none;
>>>>>>> origin/master
}

#gender-select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 125%;
}

.submitButton {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #45A049;
}


<<<<<<< HEAD
/* CSS for the REPORT PROBLEM FORM */

#report_problem {
=======
/* CSS FOR THE MODAL CONTENT */
.modal {
>>>>>>> origin/master
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
<<<<<<< HEAD
=======
}

.modal-content {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -250px;
    background-color: #f9f9f9;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
}

.modal-content-header {
    background-color: #e0e0e0;
    width: 100%;
    height: 30px;
    border-top: black;
    border-right: black;
    border-left: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.modal-content-header-text {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 6px;
    margin-left: 10px;
    font-weight: bold;
}

.close-modal-content {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1px;
    margin-right: 7px;
    color: #868686;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal-content:hover {
    color: #595959;
}

.modal-content-button {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: solid 1px #c7c7c7;
}

.modal-content-cancel {
    float: right;
    margin: 12px 5px 5px 5px;
    border-radius: 5px;
    height: 25px;
    border: none;
    background-color: #c9c9c9;
    cursor: pointer;
}

.modal-content-send {
    float: right;
    margin: 12px 5px 5px 5px;
    border-radius: 5px;
    height: 26px;
    border: none;
    background-color: #4668a5;
    color: #f9f9f9;
    cursor: pointer;
}

.modal-content-cancel:hover {
    background-color: #b3b3b3;
}

.modal-content-send:hover {
    background-color: #3c598e;
}

/*CSS FOR SEND IMAGE */

#sendImg_page-content {
    height: 500px;
    margin: -250px 0 0 -250px;
}

#sendImg_page-header {
    background-color: #e0e0e0;
    width: 100%;
    height: 30px;
    border-top: black;
    border-right: black;
    border-left: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#sendImg_form {
    margin: 10px;
}

#img-file {
    margin-top: 10px;
}

#display-image {
    margin-top: 10px;
    max-height: 340px;
    max-width: 100%;
}

/* CSS FOR THE EMOJI LIST */
#sendEmoji_page-content {
    height: 600px;
    margin: -300px 0 0 -250px;
}

#emoji-list {
    margin: 0 21px 0 21px;
    height: 570px;
    overflow: auto;
}

.emoji {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.emoji:hover {
    background-color: transparent;
    filter: brightness(90%);
}

/* CSS for the REPORT PROBLEM FORM */
#report_problem-form {
    margin: 10px;
}

#problem {
    width: 100%;
    height: 80px;
    resize: none;
    float: left;
    font-family: Tahoma, "Times New Roman", serif;
}

/* Links on the login page (register and forgotten password) */
.index-link:hover {
    color: #45A049;
>>>>>>> origin/master
}

#report_problem-content {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -160px 0 0 -260px;
    background-color: #f9f9f9;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
}

<<<<<<< HEAD
#report_problem-header {
    background-color: #e0e0e0;
    width: 100%;
    height: 30px;
    border-top: black;
    border-right: black;
    border-left: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

=======
#password-link {
    float: right;
>>>>>>> origin/master
}

#report_problem-header-text {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 6px;
    margin-left: 10px;
    font-weight: bold;
}

<<<<<<< HEAD
#report_problem-form {
    margin: 10px;
}

#problem {
    width: 100%;
    height: 80px;
    resize: none;
    float: left;
    font-family: Tahoma, "Times New Roman", serif;
}

#report_problem-button {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: solid 1px #c7c7c7;
}

#report_problem-cancel {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 120px;
    margin-bottom: 12px;
    border-radius: 5px;
    height: 25px;
    border: none;
    background-color: #c7c7c7;
    cursor: pointer;
}

#report_problem-send {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 5px;
    margin-bottom: 12px;
    border-radius: 5px;
    height: 26px;
    border: none;
    background-color: #4668a5;
    color: #f9f9f9;
    cursor: pointer;
}

#close-report_problem {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1px;
    margin-right: 7px;
    color: #aaaaaa;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#close-report_problem:hover {
    filter: brightness(80%);
=======

/* Random shit */
#signup-profile-pic {
    height: 50px;
    padding-top: 25px;
    padding-left: 15px;
    cursor: pointer;
}

#profilepic_page-content {
    height: 600px;
    margin: -300px 0 0 -250px;
}

#profile-pic-list {
    margin: 10px 22px 0 22px;
    height: 570px;
    overflow: auto;
}

.profile-pic {
    width: 72px;
    height: 72px;
    cursor: pointer;
}

.profile-pic:hover {
    background-color: transparent;
    filter: brightness(90%);
}

#signup-profile-pic:hover {
    filter: brightness(90%);
>>>>>>> origin/master
}



/* Links on the login page (register and forgotten password) */
.index-link:hover {
    color: #45A049;
}

#registered-link {
    float: left;
}


#password-link {
    float: right;
}

.index-link {
    text-decoration: none;
    color: #4CAF50;
}

/*Styling scrollbar for the list of users */
.userList::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.userList::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.userList::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #d2d2d2;
}

#messageLogo {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin: 0;
}

/*Styling the scrollbar for the messages */
#messages::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#messages::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#messages::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #d2d2d2;
<<<<<<< HEAD
=======
}

/*Styling the scrollbar for the emojilist */
#emoji-list::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#emoji-list::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#emoji-list::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #d2d2d2;
>>>>>>> origin/master
}